<div class="container-body">
    <div class="login-container">
        <div class="login-info-container">
            <h1 class="title">Hola! Bienvenido nuevamente</h1>
            <form class="inputs-container">
                <p>Saludos Admin, por temas de mayor seguridad, el acceso al sistema se hace mediante un correo, por
                    favor ingrese con su correo institucional. (&#64;ucvvirtual.edu.pe)</p>
            </form>
            <div class="social-login">
                <div class="social-login-element">
                    <img src="https://w7.pngwing.com/pngs/869/485/png-transparent-google-logo-computer-icons-google-text-logo-google-logo.png"
                        alt="google-image">
                    <span (click)="loginWithGoogle()">Google</span>
                </div>
            </div>
            <form class="inputs-container">
                <p>¿Olvidaste tu contraseña? <span class="span">Click aquí</span></p>

                <p>TechConnect -<span class="span"> Universidad César Vallejo</span></p>
            </form>
        </div>
        <img class="image-container"
            src="https://webadminportal.ucv.edu.pe/uploads/images/home/programas-academicos/pregrado.webp" alt="">
    </div>

</div>
